@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('AGaramondPro-Bold.woff2') format('woff2'),
        url('AGaramondPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

